*{
	margin:0;
	padding:0;
}

html{
    font-family: 'Montserrat', sans-serif;
    color: #121212 !important;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;	
}


/************ REUSABLE ***************/

nav{
	background-color: #121212;
	padding-top: .5em;
}

.linkext{
	color: #a22430;
	text-decoration: none;
	font-weight: 600;
}

.linkext:hover{
	color: inherit;
	text-decoration: none;
}

.title{
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1em;	
}

/************ REUSABLE ***************/

.header{
	background-image:url("bg.png") !important;
	background-repeat:repeat;
    background-size:contain;
    background-position: center;
    border:none;
	height: 35em;
	color:white;
}

.header .hero-text{
	padding-top: 10em;
}

nav li{
	margin-left: 1em;
	padding: .1em .2em .1em;
}

.header-links{

}

.header-links a{
	padding: .5em .7em .5em;
	border:.1em solid #a22430;
	margin-left: 3em;
	font-size: 1.1em;
	color: inherit;
	letter-spacing: .2em;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #a22430;
	font-weight: 600;
}

.about h6{
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1em;
}

.about-text{
	text-align: justify;
}

.about h6{
	color: #a22430;
}

.project-img{

}

.connect{
	text-align: justify;
	background-color: #fcd2d6;
	padding-top: 1em;
	padding-bottom: 1em;
}

.btn-link{
	color: black;
	font-weight: 600;
	text-decoration: none;
}

.btn-link:hover{
	text-decoration: none;
	color: #a22430;
}

.btn-link:visited{
	text-decoration: none;
	color: #a22430;
}

.support h3{
	padding-left: 3.2em;
	font-weight: 600;
}

.support h6{
	font-weight: 600;
	text-transform: uppercase;
}

.fsf{
	background-color: #b11107;
	color: white;
}

.fsfinput{
	background:transparent;
	border:none;
	border-bottom: .1em solid white;
	border-radius: .5em;
	color: white;
}

.subscribe{
	padding: .3em .6em .3em;
	border-radius: 2em;
	font-weight: 600;

}

.subscribe:hover{
	background:transparent;
	color: white;
}

@media only screen and (max-width: 786px) {
	body{
		font-size: .8em;
	}

	.header{
		height: 42em;
	}

	.hero-text h3{
		font-size: 2em;
	}
	.navbar-nav{

	}

	.nav-link{
		text-align: center;
	}

	.project-img{
		padding-bottom: 2em;  
	}
}

th {
  background-color: #a22430;
  color: white;
  height: 2em;
  padding-left: .5em;
}

table {
  width: 80%;
}

td{
	padding-top: .3em;
    padding-left: .5em;
}

/************************************************************************************
							STYLES FOR MARKUP
**************************************************************************************/

.md-content{
	margin-left: 10% !important;
	margin-right: 10%;
}

.md-content h2{
	font-weight: 600 !important;
}