    
    <section class="support">
        <br>
    <h3>Support the Project</h3>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h6><br>Liberapay</h6>
                    <a href="https://liberapay.com/diogo/donate" class="linkext"> Donate</a> to the project lead developer, <a href="https://www.diogo.site/support" class="linkext"> Diogo Cordeiro</a>, with Liberapay
                    Merchandising.
                </div>

                <div class="col-sm-4">
                    <h6><br>Merchandising</h6>
                    Buy your own GNU social t-shirt at <a href="https://hackersatporto.teemill.com/collection/gnu-social/" class="linkext">Hackers at Porto Clothing.</a>
                </div>

                <div class="col-sm-4">
                    <h6><br>Logos</h6>
                    <a class="linkext" href="https://gnusocial.network/assets/zip/logos.tar.gz">gs-logos.tar.gz (14.2 kB)</a>
                </div>

            </div>
        </div>
        <br>
    </section>




    <br><br>
    <section class="fsf text-center"><br><br>
    	<img src="../images/fsf.png"><br><br>
    	Subscribe to our monthly newsletter, the<br>
    	<em>Free Software Supporter</em>
    		<br><br>
    		<input type="email" name="" class="fsfinput">&nbsp
    		<button class="subscribe">Subscribe</button>

    		<br><br><br>
    </section>








	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>