<DOCTYPE !html>
<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>GNU Social</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/resources/css/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500i,600&display=swap" rel="stylesheet">

</head>
<body>


	<section class="header">

	        <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="hero-nav">
          <div class="logo">
            <a class="navbar-brand" style="" href="https://gnu.org/" target="_blank"><img style="width:1.8em;height:auto;" src="/images/gnutransparent.png" alt="BIT Sindri"></a>

            <a class="navbar-brand" style="" href="/"><img style="width:5.5em;height:auto;" src="/images/gnus-logo.png" alt="Developer's Society"></a>

          </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                  <a class="nav-link " style=""  href="https://gnu.org/gnu/gnu.html" target="_blank">About GNU
                    <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link " style="" href="https://gnu.org/philosophy/philosophy.html">Philosphy <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " style="" href="https://gnu.org/licenses/licenses.html">Licenses</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link " style="" href="https://gnu.org/education/education.html">Education</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link "style="" href="https://gnu.org/software/software.html">Software</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link "style="" href="https://gnu.org/doc/doc.html">Documentation</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link "style="" href="https://gnu.org/help/help.html">Help</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link "style="" href="https://gnu.org/help/help.html">GNU</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "style="border:.1em solid white; border-radius: 2.5em; color:#121212; background-color: white;" href="https://www.fsf.org/associate/support_freedom">Join the FSF</a>
                </li>            
            </div>
          </nav>

          
          <div class="hero-text text-center">
          	<img src="/images/gnus-logo.png" style="height: 6em; width:auto;"><br><br>
          	<h7 style="font-weight: 600; letter-spacing: .2em; text-transform: uppercase;">Free Software, Free Society</h7><br><br>
          	<h3 style="letter-spacing: .02em;">The <a href="https://www.gnu.org/philosophy/free-sw.html" class="linkext">free/libre</a> software social networking platform.</h3>
          </div><br><br>

          <div class="header-links text-center">
	          <a href="https://gnusocial.network/#join" target="_blank">Join Us</a>

 	          <a href="https://notabug.org/diogo/gnu-social/src/nightly/INSTALL.md"> Install</a>
 	      </div>

    </section>
    <br><br>
