<DOCTYPE !html>
<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>GNU Social</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="resources/css/styles.css">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500i,600&display=swap" rel="stylesheet">

</head>
<body>
	<section class="header">

	        <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="hero-nav">
          <div class="logo">
            <a class="navbar-brand" style="" href="https://bitsindri.ac.in/"><img style="width:1.8em;height:auto;" src="images/gnutransparent.png" alt="BIT Sindri"></a>

            <a class="navbar-brand" style="" href="https://dev-society.github.io"><img style="width:5.5em;height:auto;" src="images/gnus-logo.png" alt="Developer's Society"></a>

          </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                  <a class="nav-link " style=""  href="https://gnu.org/gnu/gnu.html" target="_blank">About GNU
                    <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link " style="" href="https://gnu.org/philosophy/philosophy.html">Philosphy <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " style="" href="https://gnu.org/licenses/licenses.html">Licenses</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link " style="" href="https://gnu.org/education/education.html">Education</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link "style="" href="https://gnu.org/software/software.html">Software</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link "style="" href="https://gnu.org/doc/doc.html">Documentation</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link "style="" href="https://gnu.org/help/help.html">Help</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link "style="" href="https://gnu.org/help/help.html">GNU</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "style="border:.1em solid white; border-radius: 2.5em; color:#121212; background-color: white;" href="https://www.fsf.org/associate/support_freedom">Join the FSF</a>
                </li>            
            </div>
          </nav>

          
          <div class="hero-text text-center">
          	<img src="images/gnus-logo.png" style="height: 6em; width:auto;"><br><br>
          	<h7 style="font-weight: 600; letter-spacing: .2em; text-transform: uppercase;">Free Software, Free Society</h7><br><br>
          	<h3 style="letter-spacing: .02em;">The <a href="https://www.gnu.org/philosophy/free-sw.html" class="linkext">free/libre</a> software social networking platform.</h3>
          </div><br><br>

          <div class="header-links text-center">
	          <a href="https://gnusocial.network/#join" target="_blank">Join Us</a>

 	          <a href="https://notabug.org/diogo/gnu-social/src/nightly/INSTALL.md"> Install</a>
 	      </div>

    </section>
    <br><br>
    <section class="about" id="about">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-5">
    				<h3 class="title text-center">The Project</h3><br>
    				<p class="about-text">
    					GNU social is a continuation of the StatusNet project. It is a social communication software for public and private communications. It is widely supported and has a large userbase including the Free Software Foundation.

						GNU social connects you to a free network of thousands of communities that discuss daily on a variety of topics, each being part of the whole.
					</p>
    			</div>
    			<div class="col-md-2">
    				
    			</div>
    			<div class="col-md-5">
    				<h3 class="title text-center">Features</h3>
    				<ul><br>
    					<li>
    						<h6>Versatile:</h6> GNU social supports both single-user and community modes and can be used in an intranet environment or as part of the wider Free Network.
    					</li><br>
    					<li>
    						<h6>Stable:</h6> GNU social has been used in production environments for over ten years.
    					</li><br>
    					<li>
    						<h6>Plug and Play:</h6> Because GNU social is minimal and libre, it runs virtually anywhere you can run a common piece of web software, such as WordPress or Drupal. JavaScript is optional.
    					</li><br>

    					<li>
    						<h6>Privacy focused:</h6>  GNU social is part of the GNU project, it's 100% free software, with no malicious features or spyware.
    					</li><br>
    				</ul>
    			</div>
    			
    		</div>
    	</div>
    </section><br><br>


    <section class="connect">
    	<div class="container">
    		<div class="row">
    			<div class="faq col-md-5">

	    		<h3 class="text-center title">FAQ</h3><br>

		    		<div id="accordion">
					  <div class="card">
					    <div class="card-header" id="headingOne">
					      <h5 class="mb-0">
					        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

					        	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"/></svg>

					        	&nbsp
					          Where can I join GNU social?
					        </button>
					      </h5>
					    </div>

					    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
					      <div class="card-body">
					        There are many kinds of GNU social server instances online right now!
					        <br><br>
					        <b>
							<a href="/try/" class="linkext">Click here</a></b> to see a list of popular GNU social sites you can join!<br><br>
							<em>Disclaimer:</em> <i>Please note that the GNU social development team is not responsible for the operation or content of sites that run its software.</i>
					      </div>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-header" id="headingTwo">
					      <h5 class="mb-0">
					        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

					        	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"/></svg>&nbsp

					          Who makes GNU social?
					        </button>
					      </h5>
					    </div>
					    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
					      <div class="card-body">
					       The current development team is lead by <a href="https://www.diogo.site/" class="linkext">Diogo Cordeiro</a>. A list containing the current devs and other contributors is available <a href="https://notabug.org/diogo/gnu-social/src/nightly/CREDITS.md" class="linkext">here</a>. The founders of the GNU social project were <a href="https://mat.tl/" class="linkext">Matt Lee</a>, <a href="https://en.wikipedia.org/wiki/Evan_Prodromou" class="linkext">Evan Prodromou</a> and <a href="http://mmn-o.se/" class="linkext">Mikael Nordfeldth</a>. 
					      </div>
					    </div>
					  </div>
					</div><br>
				</div>

			<div class="col-md-2">
				
			</div>

			<div class="col-md-5">
				<h3 class="text-center title">Chat</h3><br>

				Discuss the project on our IRC channel 
				<a href="https://webchat.freenode.net/?channels=#social" class="linkext"> #social</a> on irc.freenode.net<br>

				Contribute code, report bugs and request features on our <a href="https://notabug.org/diogo/gnu-social" class="linkext">repository</a>.<br>

				If you are a student you can also apply to <a href="https://www.diogo.site/projects/GNU-social/soc" class="linkext">GNU Social's Summer of Code.</a> <br>

			</div>

			</div>
    	</div>
    	
    </section>

    <section class="support">
    	<br>
    	<h3>Support the Project</h3><br>

    	<div class="container">
    		<div class="row">
    			<div class="col-sm-4">
    				<h6><br>Liberapay</h6>
    				Donate to the project lead developer, Diogo Cordeiro, with Liberapay
					Merchandising
    			</div>

    			<div class="col-sm-4">
    				<h6><br>Merchandising</h6>
    				Buy your own GNU social t-shirt at Hackers at Porto Clothing
    			</div>

    			<div class="col-sm-4">
    				<h6><br>Logos</h6>
    				gs-logos.tar.gz (14.2 kB)
    			</div>

    		</div>
    	</div>
    	<br>
    </section>

    <section class="fsf text-center"><br><br>
    	<img src="images/fsf.png"><br><br>
    	Subscribe to our monthly newsletter, the<br>
    	<em>Free Software Supporter</em>
    		<br><br>
    		<input type="email" name="" class="fsfinput">&nbsp
    		<button class="subscribe">Subscribe</button>

    		<br><br><br>
    </section>








	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>